# FOOD INSECURITY: Data Processing - Access Datafile

## Import Dependencies

In [2]:
#Import Dependencies
import pandas as pd
import os

## Read in CSV Data

In [3]:
# Create the path and import the data
access_data = os.path.join('Data/FEA_Access_MC.csv')
access_df = pd.read_csv(access_data)

In [4]:
# Create the path and import the data
access_var = os.path.join('Data/FEA_Access_Var_MC.csv')
access_var_df = pd.read_csv(access_var)

In [5]:
# Verify that the data was properly imported
access_df.head()

,FIPS,State,County,LACCESS_POP10,LACCESS_POP15,PCH_LACCESS_POP_10_15,PCT_LACCESS_POP10,PCT_LACCESS_POP15,LACCESS_LOWI10,LACCESS_LOWI15,...,LACCESS_HISP15,PCT_LACCESS_HISP15,LACCESS_NHASIAN15,PCT_LACCESS_NHASIAN15,LACCESS_NHNA15,PCT_LACCESS_NHNA15,LACCESS_NHPI15,PCT_LACCESS_NHPI15,LACCESS_MULTIR15,PCT_LACCESS_MULTIR15
0,1001,AL,Autauga,18428.439690,17496.693040,-5.056026,33.769657,32.062255,5344.427472,6543.676824,...,471.136164,0.863345,86.767975,0.159000,61.169869,0.112092,8.817961,0.016159,482.848633,0.884808
1,1003,AL,Baldwin,35210.814080,30561.264430,-13.204891,19.318473,16.767489,9952.144027,9886.831137,...,1377.874834,0.755973,212.946378,0.116833,181.649648,0.099662,14.819634,0.008131,1127.696098,0.618712
2,1005,AL,Barbour,5722.305602,6069.523628,6.067799,20.840972,22.105560,3135.676086,2948.790251,...,509.377525,1.855183,17.096410,0.062266,39.960527,0.145539,8.082376,0.029436,462.382655,1.684025
3,1007,AL,Bibb,1044.867327,969.378841,-7.224696,4.559753,4.230324,491.449066,596.162829,...,8.596762,0.037516,1.994318,0.008703,2.513097,0.010967,0.000000,0.000000,5.259244,0.022951
4,1009,AL,Blount,1548.175559,3724.428242,140.568857,2.700840,6.497380,609.027708,1650.959482,...,497.489891,0.867886,8.428994,0.014705,28.938242,0.050484,1.062851,0.001854,202.914186,0.353990

In [7]:
# Verify that the variable list was properly imported
access_var_df

,Category Name,Category Code,Subcategory Name,Variable Name,Variable Code,Geography,Units
0,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store, 2010",LACCESS_POP10,CNTY10,Count
1,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store, 2015",LACCESS_POP15,CNTY10,Count
2,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store (% change), 20...",PCH_LACCESS_POP_10_15,CNTY10,% change
3,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store (%), 2010",PCT_LACCESS_POP10,CNTY10,Percent
4,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store (%), 2015",PCT_LACCESS_POP15,CNTY10,Percent
...,...,...,...,...,...,...,...
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Clean Variable Name Table

In [8]:
# Check for null values
access_var_df.isna().sum()

Category Name       21
Category Code       21
Subcategory Name    21
Variable Name       21
Variable Code       21
Geography           21
Units               21
dtype: int64

In [9]:
# Drop rows with null values and verify removal
access_var_df = access_var_df.dropna()
access_var_df.isna().sum()

Category Name       0
Category Code       0
Subcategory Name    0
Variable Name       0
Variable Code       0
Geography           0
Units               0
dtype: int64

In [10]:
# Check for duplicated rows
access_var_df.duplicated().sum()

0

In [11]:
# Check data types
access_var_df.dtypes

Category Name       object
Category Code       object
Subcategory Name    object
Variable Name       object
Variable Code       object
Geography           object
Units               object
dtype: object

In [12]:
# Display summary statistics for the DataFrame
access_var_df.describe()

,Category Name,Category Code,Subcategory Name,Variable Name,Variable Code,Geography,Units
count,41,41,41,41,41,41,41
unique,1,1,3,41,41,1,3
top,Access and Proximity to Grocery Store,ACCESS,Demographics,"Population, low access to store, 2010",LACCESS_POP10,CNTY10,Count
freq,41,41,24,1,1,41,18

In [13]:
access_var_df.head(5)

,Category Name,Category Code,Subcategory Name,Variable Name,Variable Code,Geography,Units
0,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store, 2010",LACCESS_POP10,CNTY10,Count
1,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store, 2015",LACCESS_POP15,CNTY10,Count
2,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store (% change), 20...",PCH_LACCESS_POP_10_15,CNTY10,% change
3,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store (%), 2010",PCT_LACCESS_POP10,CNTY10,Percent
4,Access and Proximity to Grocery Store,ACCESS,Overall,"Population, low access to store (%), 2015",PCT_LACCESS_POP15,CNTY10,Percent

In [14]:
cleaned_vars = access_var_df[["Variable Name","Variable Code"]]
cleaned_vars.head()

                                       Variable Name          Variable Code
0              Population, low access to store, 2010          LACCESS_POP10
1              Population, low access to store, 2015          LACCESS_POP15
2  Population, low access to store (% change), 20...  PCH_LACCESS_POP_10_15
3          Population, low access to store (%), 2010      PCT_LACCESS_POP10
4          Population, low access to store (%), 2015      PCT_LACCESS_POP15

## Clean Access Data Set

In [15]:
# Check for null values
access_df.isna().sum()

FIPS                          0
State                         0
County                        0
LACCESS_POP10                 0
LACCESS_POP15                19
PCH_LACCESS_POP_10_15        26
PCT_LACCESS_POP10             0
PCT_LACCESS_POP15            19
LACCESS_LOWI10                0
LACCESS_LOWI15               20
PCH_LACCESS_LOWI_10_15       28
PCT_LACCESS_LOWI10            0
PCT_LACCESS_LOWI15           20
LACCESS_HHNV10                0
LACCESS_HHNV15                3
PCH_LACCESS_HHNV_10_15       14
PCT_LACCESS_HHNV10            0
PCT_LACCESS_HHNV15            3
LACCESS_SNAP15               20
PCT_LACCESS_SNAP15           20
LACCESS_CHILD10               0
LACCESS_CHILD15              19
LACCESS_CHILD_10_15          28
PCT_LACCESS_CHILD10           0
PCT_LACCESS_CHILD15          19
LACCESS_SENIORS10             0
LACCESS_SENIORS15            19
PCH_LACCESS_SENIORS_10_15    26
PCT_LACCESS_SENIORS10         0
PCT_LACCESS_SENIORS15        19
LACCESS_WHITE15              19
PCT_LACCESS_WHITE15          19
LACCESS_BLACK15              19
PCT_LACCESS_BLACK15          19
LACCESS_HISP15               19
PCT_LACCESS_HISP15           19
LACCESS_NHASIAN15            19
PCT_LACCESS_NHASIAN15        19
LACCESS_NHNA15               19
PCT_LACCESS_NHNA15           19
LACCESS_NHPI15               19
PCT_LACCESS_NHPI15           19
LACCESS_MULTIR15             19
PCT_LACCESS_MULTIR15         19
dtype: int64

In [16]:
# Drop rows with null values and verify removal
# access_df = access_df.dropna()
# access_df.isna().sum()

In [17]:
# Check for duplicated rows
access_df.duplicated().sum()

0

In [18]:
# NOT APPLICABLE
# Drop duplicated rows and verify removal
# access_df = student_df.drop_duplicates()
# access_df.duplicated().sum()

In [19]:
# Check data types
access_df.dtypes

FIPS                           int64
State                         object
County                        object
LACCESS_POP10                float64
LACCESS_POP15                float64
PCH_LACCESS_POP_10_15        float64
PCT_LACCESS_POP10            float64
PCT_LACCESS_POP15            float64
LACCESS_LOWI10               float64
LACCESS_LOWI15               float64
PCH_LACCESS_LOWI_10_15       float64
PCT_LACCESS_LOWI10           float64
PCT_LACCESS_LOWI15           float64
LACCESS_HHNV10               float64
LACCESS_HHNV15               float64
PCH_LACCESS_HHNV_10_15       float64
PCT_LACCESS_HHNV10           float64
PCT_LACCESS_HHNV15           float64
LACCESS_SNAP15               float64
PCT_LACCESS_SNAP15           float64
LACCESS_CHILD10              float64
LACCESS_CHILD15              float64
LACCESS_CHILD_10_15          float64
PCT_LACCESS_CHILD10          float64
PCT_LACCESS_CHILD15          float64
LACCESS_SENIORS10            float64
LACCESS_SENIORS15            float64
PCH_LACCESS_SENIORS_10_15    float64
PCT_LACCESS_SENIORS10        float64
PCT_LACCESS_SENIORS15        float64
LACCESS_WHITE15              float64
PCT_LACCESS_WHITE15          float64
LACCESS_BLACK15              float64
PCT_LACCESS_BLACK15          float64
LACCESS_HISP15               float64
PCT_LACCESS_HISP15           float64
LACCESS_NHASIAN15            float64
PCT_LACCESS_NHASIAN15        float64
LACCESS_NHNA15               float64
PCT_LACCESS_NHNA15           float64
LACCESS_NHPI15               float64
PCT_LACCESS_NHPI15           float64
LACCESS_MULTIR15             float64
PCT_LACCESS_MULTIR15         float64
dtype: object

In [20]:
# Display summary statistics for the DataFrame
access_df.describe()

,FIPS,LACCESS_POP10,LACCESS_POP15,PCH_LACCESS_POP_10_15,PCT_LACCESS_POP10,PCT_LACCESS_POP15,LACCESS_LOWI10,LACCESS_LOWI15,PCH_LACCESS_LOWI_10_15,PCT_LACCESS_LOWI10,...,LACCESS_HISP15,PCT_LACCESS_HISP15,LACCESS_NHASIAN15,PCT_LACCESS_NHASIAN15,LACCESS_NHNA15,PCT_LACCESS_NHNA15,LACCESS_NHPI15,PCT_LACCESS_NHPI15,LACCESS_MULTIR15,PCT_LACCESS_MULTIR15
count,3143.000000,3143.000000,3124.000000,3.117000e+03,3143.000000,3124.000000,3143.000000,3123.000000,3.115000e+03,3143.000000,...,3124.000000,3124.000000,3124.000000,3124.000000,3124.000000,3124.000000,3124.000000,3124.000000,3124.000000,3124.000000
mean,30390.411709,20156.653242,19287.747386,7.180008e+03,23.559330,23.084470,5551.776559,5833.959524,7.318957e+03,8.374953,...,2326.081648,2.021269,695.064178,0.249350,230.259498,0.804746,32.204247,0.019207,1290.799156,1.154542
std,15164.717720,51308.865791,47803.525595,3.955676e+05,20.250176,19.602745,13862.922934,13989.348252,4.004692e+05,8.214988,...,12159.928409,5.030497,3466.438554,0.693856,1387.887687,4.835109,435.841952,0.134887,5414.425184,1.864479
min,1001.000000,0.000000,0.000000,-1.000000e+02,0.000000,0.000000,0.000000,0.000000,-1.000000e+02,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,18178.000000,1661.076793,1631.358726,-1.091343e+01,10.847099,10.927326,592.983070,608.235919,-1.232638e+01,3.442171,...,31.131894,0.197446,3.328667,0.027088,5.274117,0.026997,0.000000,0.000000,33.382261,0.221558
50%,29177.000000,4097.827186,4131.174278,-6.239322e-02,19.685956,19.200682,1500.780036,1636.858816,3.486028e+00,6.150772,...,136.051404,0.579669,16.473665,0.085588,20.850829,0.072033,1.000000,0.003242,132.098182,0.572597
75%,45082.000000,12954.123205,13119.029393,7.262080e+00,29.581054,28.862231,4591.067541,4859.016156,2.352342e+01,10.324935,...,874.891533,1.673132,130.916653,0.249311,101.353615,0.186646,7.107201,0.013054,658.924526,1.318699
max,56045.000000,886068.668400,740267.412700,2.208376e+07,100.000001,100.000001,292541.789000,259479.516000,2.234893e+07,72.274456,...,263440.500100,79.323968,76998.348560,25.087551,40350.800430,83.844210,21387.063060,4.469546,115781.021500,27.120652

## Review both Data Frames

In [21]:
cleaned_vars

,Variable Name,Variable Code
0,"Population, low access to store, 2010",LACCESS_POP10
1,"Population, low access to store, 2015",LACCESS_POP15
2,"Population, low access to store (% change), 20...",PCH_LACCESS_POP_10_15
3,"Population, low access to store (%), 2010",PCT_LACCESS_POP10
4,"Population, low access to store (%), 2015",PCT_LACCESS_POP15
5,"Low income & low access to store, 2010",LACCESS_LOWI10
6,"Low income & low access to store, 2015",LACCESS_LOWI15
7,"Low income & low access to store (% change), 2...",PCH_LACCESS_LOWI_10_15
8,"Low income & low access to store (%), 2010",PCT_LACCESS_LOWI10
9,"Low income & low access to store (%), 2015",PCT_LACCESS_LOWI15
10,"Households, no car & low access to store, 2010",LACCESS_HHNV10
11,"Households, no car & low access to store, 2015",LACCESS_HHNV15
12,"Households, no car & low access to store (% ch...",PCH_LACCESS_HHNV_10_15
13,"Households, no car & low access to store (%), ...",PCT_LACCESS_HHNV10
14,"Households, no car & low access to store (%), ...",PCT_LACCESS_HHNV15
15,"SNAP households, low access to store, 2015",LACCESS_SNAP15
16,"SNAP households, low access to store (%), 2015",PCT_LACCESS_SNAP15
17,"Children, low access to store, 2010",LACCESS_CHILD10
18,"Children, low access to store, 2015",LACCESS_CHILD15
19,"Children, low access to store (% change), 2010...",PCH_LACCESS_CHILD_10_15
20,"Children, low access to store (%), 2010",PCT_LACCESS_CHILD10
21,"Children, low access to store (%), 2015",PCT_LACCESS_CHILD15
22,"Seniors, low access to store, 2010",LACCESS_SENIORS10
23,"Seniors, low access to store, 2015",LACCESS_SENIORS15
24,"Seniors, low access to store (% change), 2010 -15",PCH_LACCESS_SENIORS_10_15
25,"Seniors, low access to store (%), 2010",PCT_LACCESS_SENIORS10
26,"Seniors, low access to store (%), 2015",PCT_LACCESS_SENIORS15
27,"White, low access to store, 2015",LACCESS_WHITE15
28,"White, low access to store (%), 2015",PCT_LACCESS_WHITE15
29,"Black, low access to store, 2015",LACCESS_BLACK15
30,"Black, low access to store (%), 2015",PCT_LACCESS_BLACK15
31,"Hispanic ethnicity, low access to store, 2015",LACCESS_HISP15
32,"Hispanic ethnicity, low access to store (%), 2015",PCT_LACCESS_HISP15
33,"Asian, low access to store, 2015",LACCESS_NHASIAN15
34,"Asian, low access to store (%), 2015",PCT_LACCESS_NHASIAN15
35,"American Indian or Alaska Native, low access t...",LACCESS_NHNA15
36,"American Indian or Alaska Native, low access t...",PCT_LACCESS_NHNA15
37,"Hawaiian or Pacific Islander, low access to st...",LACCESS_NHPI15
38,"Hawaiian or Pacific Islander, low access to st...",PCT_LACCESS_NHPI15
39,"Multiracial, low access to store, 2015",LACCESS_MULTIR15
40,"Multiracial, low access to store (%), 2015",PCT_LACCESS_MULTIR15

In [2]:
access_df.head()

NameError: name 'access_df' is not defined

## Rename Column Variables using Variable Index

In [ ]:
#renamed_access_df = access_df.rename(columns={'LACCESS_POP10': 'Low_Acc_Pop10',\
#                                              'LACCESS_POP15': 'Population, low access to store, 2015'\                                                                                      
#                                             })

## Export the Cleaned Data Frame to a CSV

In [22]:
# Export the DataFrame as a CSV file using encoding='utf8'.
# renamed_access_df.to_csv('Access.csv', index=False, encoding="utf-8")
access_df.to_csv('Data/Access.csv', index=False, encoding="utf-8")